<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fiver1">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/kuto"
        android:label="@string/app_name"
        android:roundIcon="@drawable/kuto"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Puzzlestart"></activity>
        <activity
            android:name=".Puzzlemainscreen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TravelAct"
            android:screenOrientation="landscape" />
        <activity
            android:name=".FoodActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Animals_question"
            android:screenOrientation="landscape" />
        <activity
            android:name=".NumbersAct"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Sequencegame"
            android:screenOrientation="landscape" />
        <activity
            android:name=".FinalmainScreen"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Colours_question_act"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Test3"
            android:screenOrientation="landscape" />
        <activity
            android:name=".EmoQuestionsActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".TestActivity"
            android:screenOrientation="landscape" />
        <activity android:name=".ScoringPage" />
        <activity android:name=".AddImge" />
        <activity android:name=".Show_ImagesMain" />
        <activity
            android:name=".FirstQuestionAct"
            android:screenOrientation="landscape" />
        <activity
            android:name=".GraphicActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="landscape" />
    </application>

</manifest>